body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(32,35,41);
  color: rgb(158, 158, 158);
  margin: 0;
}

nav a {
  margin: 5px;
}

.sectioqn-page{
  background-color: rgb(32,35,41);
}